/* Mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav,
  nav > ul,
  .header-container {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  .header-container img {
    margin-bottom: 20px;
  }
  .bannner-container {
    flex-direction: column-reverse;
    margin-top: 50px;
    gap: 15px;
  }
  .banner {
    width: 90%;
    padding: 10px;
  }
  .banner-img-right img {
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding-bottom: 10px;
  }
}

/* Tablet responsive style */
@media screen and (min-width: 577px) and (max-width: 1024px) {
  header {
    padding: 20px;
  }
  nav,
  nav > ul,
  .header-container {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  .header-container img {
    margin-bottom: 20px;
  }
  .bannner-container {
    flex-direction: column;
    margin-top: 50px;
    gap: 15px;
  }
  .banner {
    width: 90%;
    padding: 10px;
  }
  .banner-img-right img {
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding-bottom: 10px;
  }
}
