/* Mobile Device */
@media screen and (max-width: 576px) {
  header,
  main,
  .header-container,
  nav ul {
    padding: 20px;
  }
  nav,
  nav > .nav-followus,
  .header-container,
  nav ul {
    flex-direction: column;
  }
  .nav-followus {
    align-items: center;
    align-content: center;
    width: 200px;
    height: 40px;
    list-style: none;
    gap: 20px;
  }

  .bannner-container {
    flex-direction: column-reverse;
    margin-top: 50px;
    gap: 15px;
  }
  .banner {
    width: 90%;
    padding: 10px;
  }
  .banner-img-right img {
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding-bottom: 10px;
  }
  .online-games {
    grid-template-columns: 1fr;
    margin: auto;
  }
  .online-games-container h1 {
    margin-top: 30px;
  }
  /* nodownload styles */
  .nodownload-section {
    padding: 10px;
  }
  .nodownload-container {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .nodownload-img,
  .nodownload-title {
    width: 100%;
  }
  .nodownload-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
  }

  .nodownload-title p {
    text-align: center;
    margin-bottom: 50px;
  }
}

/* Tablet responsive style */
@media screen and (min-width: 577px) and (max-width: 1024px) {
  header,
  main,
  .header-container,
  nav ul {
    padding: 20px;
  }
  nav,
  nav > .nav-followus,
  .header-container,
  nav ul {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .nav-followus {
    align-items: center;
    align-content: center;
    width: 200px;
    height: 40px;
    list-style: none;
    gap: 20px;
  }
  .bannner-container {
    flex-direction: column;
    margin-top: 50px;
    gap: 15px;
  }
  .banner {
    width: 90%;
    padding: 10px;
  }
  .banner-img-right img {
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding-bottom: 10px;
  }
  .online-games {
    grid-template-columns: repeat(2, 1fr);
  }
  .online-games-container h1 {
    margin-top: 30px;
  }
  .play-online-container {
    flex-direction: column;
  }
  .play-online-container h2 {
    text-align: center;
  }
  .play-online-container p {
    text-align: center;
  }
  /* nodownload styles */
  .nodownload-section {
    padding: 10px;
  }
  .nodownload-container {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .nodownload-img,
  .nodownload-title {
    width: 100%;
  }
  .nodownload-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
  }

  .nodownload-title p {
    text-align: center;
    margin-bottom: 50px;
  }
}
