/* Mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav,
  nav > ul,
  .header-container {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  .header-container img {
    margin-bottom: 20px;
  }
}

/* Tablet responsive style */
@media screen and (min-width: 577px) and (max-width: 1024px) {
  header {
    padding: 20px;
  }
  nav,
  nav > ul,
  .header-container {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  .header-container img {
    margin-bottom: 20px;
  }
}
