/* Google fonts work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
.primary-color {
  color: #ff42a5;
}
/* Header styles */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
}
nav li {
  list-style: none;
}
nav .followus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
  object-fit: cover;
}

/* Main banner styles */
.bannner-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 100px;
  background-image: url('../images/bg-banner-left.png');
  background-repeat: no-repeat;
  max-width: 1440px;
}
.banner {
  width: 50%;
  padding-left: 10rem;
}
.bannner-containe .banner-img-right {
  width: 50%;
}
.banner h2 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner h1 {
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 5rem;
}
.banner li {
  list-style: none;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.banner li span {
  color: #ff42a5;
}
.banner-img-right img {
  width: 100%;
}
.btn-pink {
  border-radius: 48px;
  background: #ff42a5;
  padding: 21px 40px;
  border: none;
  margin-top: 1.2rem;
}
.btn-blue {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 21px 40px;
  border: none;
}
/* 
.............................
Main Styles
.............................
*/

main {
  max-width: 1440px;
  margin: 0 auto;
}
/* online games */
.online-games-container h1 {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 100px;
}
.online-games-container span {
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 3rem;
}
.online-games-container > p {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}
.online-games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  align-items: center;
}
.online-games img {
  width: 100%;
}
.online-games p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

/* NO download section */
.nodownload-section {
  min-height: 500px;
  padding: 100px 0;
}
.nodownload-container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 200px;
  display: flex;
  align-items: center;
}
.nodownload-img {
  width: 50%;
  position: relative;
}
.nodownload-img img {
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.nodownload-bottomimg {
  height: 350px;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 55%;
}
.nodownload-title {
  width: 50%;
}

.nodownload-title h2 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
}
.nodownload-title p {
  color: #534c64;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
/* Action Games styles */
/* .action-games {
  margin-top: 10rem;
  margin-bottom: 100px;
} */
.action-game-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.card img {
  width: 60px;
  height: 60px;
}
.card:hover {
  border: 1px solid #ff42a5;
  border-radius: 50px;
  background: #fff;
  padding: 5px 15px;
}
